---
layout: default
title: Terms
---
.container.text-left
  .row
    .col-sm-9.col-md-9
      #gitlab-com
        %h2.terms GitLab Website Terms of Use
        %p
          %a{href: "print/gitlab_com_terms.pdf"} PDF Preview
        = partial "includes/terms/gitlab-com"
      #subscription
        %h2.terms GitLab Subscription Terms
        %p
          %a{href: "print/gitlab_subscription_terms.pdf"} PDF Preview
        = partial "includes/terms/subscription"
      #consultancy
        %h2.terms GitLab Services Terms
        %p
          %a{href: "print/gitlab_consultancy_terms.pdf"} PDF Preview
        = partial "includes/terms/consultancy"
      #githost
        %h2.terms GitHost.io Terms
        %p
          %a{href: "print/githost_terms.pdf"} PDF Preview
        = partial "includes/terms/githost"
    .col-sm-3.col-md-3
      %ul.nav.nav-list.fixed-sidenav{data: {spy: "affix", offset: {top: 100}}}
        %li
          %a{href: "#gitlab_com"} GitLab Website Terms of Use
        %li
          %a{href: "#subscription"} GitLab Subscription Terms
        %li
          %a{href: "#consultancy"} GitLab Services Terms
        %li
          %a{href: "#githost"} GitHost Terms
        %li
          %a{href: "/privacy"} Privacy Policy
        %li
          %a{href: "/dmca"} DMCA Policy
        %li
          %a{href: "/disclosure"} Responsible Disclosure Policy
