---
layout: job_page
title: "Marketing Executive Assistant"
---

## Responsibilities

* Schedule meetings and prepare for the marketing team meetings.
* Help with preparation of executive decks.
* Work with all team leads to track all goals in the marketing expectations Google doc. If a goal is in danger of being missed, notify CMO.
* Maintain the GitLab swag store working with direction from the Field Marketing Manager.
* Prepare all job postings for the marketing team.
* Work directly with the recruiter and manager to screen marketing team interviewees.  
* Schedule interviews for all candidates with appropriate members of the marketing team.
* Upload all recorded videos of GitLab University within a few hours.
* Take notes at meetings where necessary and turn notes into handbook updates.  
* Make sure all recordings of important marketing meeting (monthly townhall or marketing team summit) are easy for everyone to access.  
* Make changes to the marketing handbook based on verbal instructions.  
* Create process for the marketing team where needed and document in the handbook.
* Make sure team birthdays and anniversaries are observed.  
* Ensure executive's appointments are confirmed a day in advance and that the attendees have access to and are aware of the relevant materials (about.gitlab.com/primer, google doc, etc.).
* Take care of expenses reports for CMO.  
* Mail swag when needed.
* Work with Demand Generation team and Developer Relations team for thank you cards for the community, new business, and customers.
* Take care of travel, lodging, and lunch/dinner reservations.  
* Sign up for services, make changes to them, and close them.  
* Coordinate marketing events, summits, and off-sites.  
* Be willing and ready to learn new things and jump in and help when new tasks come up.  
* Make sure all new team members on the marketing team are onboarded and added to all relevant calendar invites.
* Answer emails on behalf of the CMO when possible.
* Assist CMO and team reconcile marketing budget.
* Ensure all bonuses for team are tracked w/ HR and manager.


## Requirements  
* Strong english skills.  
* Within a few hours timezone of EST  
* Smart and ready to learn.  


<%= partial "includes/apply_and_about" %>
