---
layout: job_page
title: "Open Application"
---

There is no specific job description for an Open Application, there is simply the opportunity to use this pathway as a way to apply for an open ended role at GitLab. Note: You have a much higher chance of being hired by applying for one of our specific job openings. When submitting an open application, please motivate this choice very clearly.


<%= partial "includes/apply_and_about" %>
